<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>AMS Hotel - User Login</title>
</head>
<body style="background-image: url('hotel.jpg');">
    <div class="container">
        <div class="login-box">
            <div class="row">
                <div class="col-md-6 login-right">
                    <h2 style="color:rgba(226, 192, 148, 0.929);">User Login</h2>
                    <form method="post" action="../Controller/validateLogin.php">
                        <div class="form-group">
                            <label for="email" style="color:white;">Email ID</label>
                            <input type="text" name="email" class="form-control text-left" required>
                        </div>
                        <div class="form-group">
                            <label for="password" style="color:white;"> Password </label>
                            <input type="password" name="password" class = "form-control" required>
                            </div>
                        <!-- Other form fields here -->
                        <button type="submit" class="btn btn-primary mt-3" style="background-color: black;">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
