<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style2.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<title>AMS Hotel</title>
</head>

<body style="background-color: black;">
    <div class="container1">
        <header>
            <h1 style="text-align:center; font-size:80px; color:rgb(254, 247, 253);">AMS Hotel</h1>
        </header>
    </div>
    <div class="container2">
        <div class="login">
            <div class="row">
                <div class="col-md-6 login-left"  style="background: none;">
                    <h2 style="color:orange; font-size:50px">Registration</h2>
                    <h3 style="font-size: 30px;"><a href="registration.html">Register</a></h3>
                </div>
                <div class="col-md-6 login-right" style="background: none;">
                    <h2 style="color:orange; font-size:50px">Login</h2>
                    <h3 style="font-size: 30px;"><a href="login.html">Login</a></h3>
                </div>
            
                <div class="col-md-6 login-admin" style="background: none;">
                    <h2 style="color:orange; font-size:50px">Admin</h2>
                    <h3 style="font-size: 30px;"><a href="admin/index.php">Admin Login</a></h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container3">
        <script>
            var images = ['outview.jpg', 'hotel.jpg', 'sunsetview.jpg']; // Add more image paths if needed
            var index = 0;
        
            function changeBackground() {
                document.body.style.backgroundImage = "url('" + images[index] + "')";
                index = (index + 1) % images.length;
            }
        
            setInterval(changeBackground, 3000); // Change background every 10 seconds
        
            // Trigger the first image change immediately
            changeBackground();
        </script>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="About">
                <h2 style="color:orange; font-size:50px; text-align:center;">About Us</h2>
                <div style="color: white; font-size:20px; margin-left: 7px;">
                    
                    <p>Welcome to AMS Hotel, where luxury meets comfort. Located in the heart of the city, AMS Hotel offers exquisite accommodations, exceptional dining experiences, and top-notch amenities.</p>
                    <p>At AMS Hotel, we strive to provide unparalleled hospitality to our guests, ensuring a memorable stay every time. Whether you're traveling for business or leisure, our dedicated staff is committed to making your stay truly exceptional.</p>
                    <p>Discover the perfect blend of elegance and convenience at AMS Hotel. Book your stay with us today and experience hospitality at its finest.</p>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <section id="locate">
                <h1 style="text-align:center; font-size:30px; color: rgb(239, 230, 230);background-color: none" style="padding-bottom: 10px;">Our Location</h1>
                <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3" >
                      <div style ="margin-top: 0px;" id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
                      var setting = {"query":"Duncan Avenue, Jersey City, NJ, USA","width":1500,"height":350,"satellite":false,"zoom":12,"placeId":"EiBEdW5jYW4gQXZlLCBKZXJzZXkgQ2l0eSwgTkosIFVTQSIuKiwKFAoSCbV5x0grUcKJETCSObFOmmpzEhQKEgndr78l0lDCiRHZJc2iE_BJAg","cid":"0x736a9a4eb1399230","coords":[40.7289488,-74.0816566],"lang":"us","queryString":"Duncan Avenue, Jersey City, NJ, USA","centerCoord":[40.7289488,-74.0816566],"id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"1080690"};
                      var d = document;
                      var s = d.createElement('script');
                      s.src = 'https://1map.com/js/script-for-user.js?embed_id=1080690';
                      s.async = true;
                      s.onload = function (e) {
                        window.OneMap.initMap(setting)
                      };
                      var to = d.getElementsByTagName('script')[0];
                      to.parentNode.insertBefore(s, to);
                    })();</script><a href="https://1map.com/us/map-embed">1 Map</a></div>
                    </section>
                    </div>
                    
    
</body>

</html>
